<!doctype html>
<html lang="en">
    <head>
        <title>Create Job Listing</title>
    </head>
    <body>
        <h1>Create job listing</h1>
        <form  class = "form-inline" method="POST" action="/joblisting/create" id="joblisting-form">
            <label for="jobtitle">Job title</label><br>
            <input type="text" name="job_title" id="jobtitle" placeholder="Job title"/><br>
            <label for="salary-type">Salary type</label><br>
            <input type="radio" name ="salary_type" id="hourly" value="hr"/>
            <label for="hourly">Hourly</label>
            <input type="radio" name ="salary_type" id="annual"  value="yr"/>
            <label for="annual">Annual</label><br>
            <label for="salary-range">Salary range</label><br>
            <input type="text" name ="salary_range_start" id="salaryrange-start" placeholder="Salary range start"/><br>
            <input type="text" name="salary_range_end" id="salaryrange-end" placeholder="Salary range end"/><br>
            <label for="job-type">Job type</label><br>
            <input type="radio" name ="job_type" id="full-time" value="Full-time"/>
            <label for="full-time">Full-time</label>
            <input type="radio" name ="job_type" id="part-time" n value="Part-time"/>
            <label for="part-time">Part-time</label>
            <input type="radio" name ="job_type" id="intern" value="Internship"/>
            <label for="intern">Internship</label><br>
            <label for="location">Location</label><br>
            <input type="text" name="location" id="location" placeholder="Location"/><br>
            <label for="experience">Experience</label><br>
            <input type="text" name="experience" id="experience" placeholder="Experience"/><br>
            <label for="expiration">Expiration date</label><br>
            <input type="date" name="exp_date" id="expiration"/><br>
            <label for="description">Job description</label><br>
            <textarea id="description" name="description" placeholder="Job description"></textarea><br>
            <label for="qualifications_min">Minimum qualifications</label><br>
            <textarea id="qualifications-min"  name="m_qualifications" placeholder="Minimum qualifications"></textarea><br>
            <label for="qualifications_pref">Preferred qualifications</label><br>
            <textarea id="qualifications-pref"  name="p_qualifications" placeholder="Preferred qualifications"></textarea><br>
            <input type="button" id="cancel"  value="Cancel">
            <input type="submit" id="createjob"  value="Post">
            
        </form>

        
       
       
    </body>
</html>